/* 
 * Webapper Styles
 *
 */


/* Right click menu for dataTables.js */
ul.context-menu {
	position: absolute;
}
ul.context-menu.in {
	display: block;
}


/* Workspace Panels */
.panel-group .panel {
	overflow: visible !important;
}
.panel-group .panel + .panel {
	margin-top: 15px !important;
}
.panel-group .placeholder {
	border: dashed 3px #ccc;
}
.panel-group .placeholder + .panel,
.panel-group .panel + .placeholder {
	margin-top: 15px;
}