/*
Theme Name: WebApper Theme
Theme URI: http://webapper.info/
Description: Child theme for WebApper Theme. 
Author: WebApper
Author url: http://webapper.info/
Version: 0.1.0
License: GNU General Public License
License URI: http://www.opensource.org/licenses/GPL-3.0
Template: flat-bootstrap
Template Version: 1.4
Tags: one-column, right-sidebar, left-sidebar, fluid-layout, responsive-layout, custom-header, custom-menu, featured-images, featured-image-header, full-width-template, flexible-header, theme-options, sticky-post, threaded-comments, light, translation-ready, rtl-language-support, custom-background
*/


/**
 * Include the parent theme's stylesheet. Everything below that will override
 * those styles.
 */
@import url("../flat-bootstrap/style.css");

.container-fluid.fixed {
	max-width: 1172px;
}

.container-fluid.fixed_wide {
	max-width: 1400px;
}


.property_meta {
	margin-top: 20px;
}
.property_meta h3 {
	margin-top: 0;
}
.property_meta ul {
	list-style: none;
	padding-left: 0;
}
.property_meta ul li {
	display: inline-block;
	min-width: 250px;
	line-height: 35px;
}
.property_meta ul li .glyphicon {
	color: #7b7b7b;
}
.property_meta ul li:hover,
.property_meta ul li:hover .glyphicon {
	color: #3bc492;
}



#userQuickMenu li .dropdown-menu {
	right: 0;
	left: inherit;
}

/* Basic Structure
 */
#page,
.navbar,
.after-footer {
	width:100%;
	max-width:100%;
}

.after-footer {
	padding-top: 5px;
	padding-bottom: 5px;
}

#site-credits {
	padding-top: 0;
	padding-bottom: 0;
}

footer#colophon.site-footer ul {
	margin-bottom: 0;
}

footer#colophon.site-footer ul li {
	margin-top: 0;
}

@media screen and (min-width:768px) {
	.after-footer {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media screen and (min-width:992px) {
	.after-footer {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media screen and (min-width:1200px) {
	.after-footer {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}



/* Style the fixed top nav
 */
.navbar-fixed-top { 
	top: 0px; 
}

/* Hide WordPress adminbar & show fixed navbar at the top. */
#wpadminbar{
	display: none;
}

body {
	padding-top: 51px;
}

body.admin-bar {
	padding-top: 5px;
}

body.admin-bar .navbar-fixed-top {
	top: 0px !important; 
}

.navbar-inverse {
	font-size: 16px;
	color: #999;
	text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
  color: #999999;
}

.navbar-inverse .navbar-brand {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;	
}

/* Don't black out the active nav link on hover */
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav>.active>a:focus {
	/* background-color: #1abc9c; */
	background-color: rgba(26, 188, 156, 0.5);
}

@media screen and (min-width:768px) {
	.navbar-inverse .navbar-brand {
		font-size: 22px;
	}
}

@media screen and (min-width:992px) {
	.navbar-inverse {
		font-size: 18px;
	}

	.navbar-inverse .navbar-brand {
		font-size: 24px;
	}
}

/* When WordPress admin bar is displayed, move theme menu down below it. Note
 * that the media query below uses the exact breakpoint in WordPress not the
 * breakpoint in this theme. */
@media screen and (min-width:783px) {
	/* Show WordPress adminbar & fixed navbar at the top. */
	#wpadminbar{
		display: block;
	}

	body.admin-bar {
	    padding-top: 51px;
	}

	body.admin-bar .navbar-fixed-top { 
		top: 32px !important; 
	}
}



/* Adjust content padding
 */
#primary,
#secondary {
	padding-top: 15px;
	padding-bottom: 15px;
}

#secondary:first-child {
	border-right: 1px solid #bbb;
	padding-top: 0;
	margin-top: 15px;
	padding-bottom: 0;
	margin-bottom: 15px;
}

#secondary:last-child {
	border-left: 1px solid #bbb;
	padding-top: 0;
	margin-top: 15px;
	padding-bottom: 0;
	margin-bottom: 15px;
}



/* Content Header
 */
header.content-header {
	background-color: #c0392b;
	min-height: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content-header .page-title,
.content-header .page-subtitle {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

.content-header .page-title + .page-subtitle {
	margin-left: 8px;
}

.content-header .page-description {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
}

/* Set initial image background so light text is readable before image loads */
.content-header-image,
.content-header {
	background-color: #3498db;
	color: #fff;
}

.content-header h1, 
.content-header h2, 
.content-header h3, 
.content-header h4, 
.content-header h5, 
.content-header h6 {
	color: #fff;
}

@media screen and (min-width:768px) {
	header.content-header {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media screen and (min-width:992px) {
	header.content-header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

@media screen and (min-width:1200px) {
	header.content-header {
		padding-top: 25px;
		padding-bottom: 25px;
	}
}


/* Section image overlays
 */
.section-image, 
.section-image-overlay {
	height: 480px; /* cross-browser */
	min-height: 480px;
}

.section-image {
	background-position: center center;
}

.section-image-overlay h1,
.section-image-overlay h2 {
	text-transform: none;
}



/* Sidebars & widgets
 */
.widget {
	font-size: 16px;
}

.widget .widget-title {
	margin-top: 0px;
	font-size: 18px;
}

#secondary aside.widget {
	margin-bottom: 0;
}

#secondary .widget + .widget,
.sidebar-page .widget + .widget {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

.widget > ul,
.widget_nav_menu ul {
	margin-bottom: 0;
}

@media screen and (min-width:768px) {
}

@media screen and (min-width:992px) {
	.widget .widget-title {
		font-size: 20px;
	}
	.widget {
		font-size: 18px;
	}
}

@media screen and (min-width:1200px) {
	.widget .widget-title {
		font-size: 24px;
	}
}



/* Widgeted Footer - Almost Black Section Wrap
 */
.sidebar-footer, 
footer.sidebar-footer, 
nav.sidebar-footer {
	background-color: #2f2f2f;
}

.sidebar-footer {
	padding-top: 15px;
}

.sidebar-footer aside.widget {
	margin-bottom: 15px;
}

.sidebar-footer .widget-title {
	padding-bottom: 0;
}

.sidebar-footer a:hover:not(.btn), 
.sidebar-footer a:focus:not(.btn),
.footer-nav-menu a:hover:not(.btn),
.footer-nav-menu a:focus:not(.btn) {
    color: #f85c37;
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:992px) {
	.sidebar-footer {
		padding-top: 25px;
	}
	
	.sidebar-footer aside.widget {
		margin-bottom: 25px;
	}
}

@media screen and (min-width:1200px) {
	.sidebar-footer {
		padding-top: 35px;
	}
	
	.sidebar-footer aside.widget {
		margin-bottom: 35px;
	}
}



/* Widgeted sections
 */
.sidebar-page {
	background-color: #e1e1e1;
	padding-top: 15px;
	padding-bottom: 15px;
}

/* Search widget */
.sidebar-page .widget_search .search-submit {
	margin-top: -4px;
}

.sidebar-page .widget_search .form-group {
	margin-bottom: 0;
}

@media screen and (min-width:768px) {
	.sidebar-page-bottom .widget + .widget {
		margin-top: 0px;
		padding-top: 0px;
		border-top: none;
	}
}



/* Entry content
 */
.entry-title {
	margin-top: 0;
}

footer.entry-meta,
div.entry-meta,
.edit-link {
	font-size: 14px;
}

@media screen and (min-width:768px) {
	footer.entry-meta,
	div.entry-meta,
	.edit-link {
		font-size: 16px;
	}
}

@media screen and (min-width:1200px) {
	footer.entry-meta,
	div.entry-meta,
	.edit-link {
		font-size: 18px;
	}
}


/* Comments
 */
.comments-wrap.well {
	border: 1px solid #ccc;
}

.comments-title,
.comment-reply-title {
	margin-top: 30px;
}

.comment {
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

.comment .edit-link {
	margin-left: 10px;
}
.comment .edit-link a {
	font-size: 14px;
}

.comment .reply {
	margin-bottom: 10px;
}
.comment-respond .form-submit {
	margin-bottom: 0;
}

@media screen and (min-width:768px) {
	.comment .edit-link a {
		font-size: 16px;
	}
}

@media screen and (min-width:1200px) {
	.comment .edit-link a {
		font-size: 18px;
	}
}



/* Repeatables
 */
.page-numbers {
	margin-top: 0;
	margin-bottom: 0;
}



/* Global styles
 */
body {
	font-size: 14px;
}

p {
	line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	text-transform: uppercase;
	font-weight: 500;
}

h1 {
	font-size: 20px;
	font-weight: 700;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4,
h5,
h6 {
	font-size: 14px;
}

/* Set link color to red and hover to gray */
a {
    color: #f85c37;
}

a:hover,
a:focus {
    color: #7b7b7b;
}

a:hover i,
a:focus i {
	color: #ff7878;
}

@media screen and (min-width:768px) {
	body {
		font-size: 16px;
	}
	
	p {
		line-height: 22px;
	}

	h1 {
		font-size: 22px;
	}
	
	h2 {
		font-size: 20px;
	}
	
	h3 {
		font-size: 18px;
	}
	h4,
	h5,
	h6 {
		font-size: 16px;
	}
}

@media screen and (min-width:992px) {
	p {
		line-height: 24px;
	}

	h1 {
		font-size: 26px;
	}
	
	h2 {
		font-size: 22px;
	}
	
	h3 {
		font-size: 18px;
	}
	h4,
	h5,
	h6 {
		font-size: 16px;
	}
}

@media screen and (min-width:1200px) {
	body {
		font-size: 18px;
	}
	
	p {
		line-height: 28px;
	}

	h1 {
		font-size: 28px;
	}
	
	h2 {
		font-size: 24px;
	}
	
	h3 {
		font-size: 20px;
	}
	h4,
	h5,
	h6 {
		font-size: 18px;
	}
}



/* Datatable.js
 */
table.dataTable th,
table.dataTable tr {
	font-size: 14px;
}
table.dataTable > thead > tr > th {
	vertical-align: top;
}

.dataTables_info {
	display: none;
	color: #f85c37;
	font-size: 14px;
}

.dataTable tbody tr.row_selected td {
	background-color: rgba(26, 188, 156, 0.2) !important;
}

@media screen and (min-width:768px) {
	.dataTables_info {
		display: block;
	}
}

@media screen and (min-width:992px) {
	.dataTables_info {
		font-size: 16px;
	}
}



/* ?
 */
.nocaps h1,
.carousel h1 {
	font-size: 41px;
	text-transform: none;
}

.nocaps h2,
.carousel h2 {
	font-size: 34px;
	text-transform: none;
}



/* ? Tilt animation
 */
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
